.notification {
    position: fixed;
    top: 100px;
    right: 500px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    opacity: 0.9;
}

.notification.success {
    background-color: #4caf50;
}

.notification.error {
    background-color: #f44336;
}