.preContainer {
    position: relative;
    padding-top: 30px;
    /* Adjust padding for the label */
    background-color: #2d2d2d;
    border-radius: 4px;
    overflow: hidden;
    /* Ensure content doesn't overflow */
}

.codeLangLabel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #444;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    border-bottom-right-radius: 4px;
    text-transform: uppercase;
}

.copyButton {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #444;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.copyButton:hover {
    background-color: #666;
}