
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 15px;
    height: 20px;
    cursor: pointer;
}
.slider{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}